
	
<footer class=" pmd-footer-dark" style="color:white; background-color: rgba(165, 164, 164, 0.741);box-sizing: content-box; ">
	<div class="container">
		<div class="row ">
			<div class="col-md-3 col-sm-6 col-12  ">
				<ul class="pmd-footer-nav flex-column text-center">
					<h5 class="pmd-listing-title t p-2  ">Products</h5>
					<li><a >Technology</a></li>
					<li><a >Services</a></li>
					<li><a >Features</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 col-12 ">
				<ul class="pmd-footer-nav flex-column text-center sm-mb-2">
					<h5 class="pmd-listing-title p-2">Support</h5>
					<li><a >Blog</a></li>
					<li><a >Help</a></li>
					<li><a >FAQ</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 col-12 ">
				<ul class="pmd-footer-nav flex-column text-center">
					<h5 class="pmd-listing-title p-2">About Us</h5>
					<li><a >Profile</a></li>
					<li><a >Career</a></li>
					<li><a >News</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 col-12 ">
				<ul class="pmd-footer-nav flex-column text-center">
					<h5 class="pmd-listing-title p-2">Contact</h5>
					<li><a >supportgmail.com</a></li>
					<li><a >+91 85764 23456</a></li>
				</ul>
			</div>
		</div>
		<div class="text-center">
			<div class="social-icons mb-3">
				<button type="button" class="rounded-5" size="sm">
                  <i class=" bi bi-linkedin rounded-3 text-primary">
					</i>  
                </button>
				<button type="button" class="rounded-5" size="sm">
                  <i class=" bi bi-twitter rounded-3 text-primary">
					</i>  
                </button>
				<button type="button" class="rounded-5" size="sm">
                  <i class=" bi bi-facebook rounded-3 text-primary">
					</i>  
                </button>
			</div>

			<div class="pmd-site-info text-dark">
				<span> <strong class="text-primary">GoTech</strong>. Crafted by <strong>Eng/tasneem</strong></span>
                <p class="">copyright<i class="fa-regular fa-copyright"></i>.2024</p>
			</div>
		</div>
	</div>
</footer>

