 
 
 <div>
  <div [attr.style]="'background-image: url(' + errImage + '); background-size: cover; background-position: center; '" >
   <div class="justify-content-center" style="padding: 80px;" > 
    <h1 class="text-primary text-center">oops...</h1>
  <div class="outer-track justify-content-center mx-auto" style="margin-left: 30px ;">
    <div class="inner-track">
      <div class="tractor-container">
        <div class="tractor">
          <div class="body">
            <div class="light"></div>
            <div class="grill"></div>
            <div class="exhaust"></div>
            <div class="steering"></div>
            <div class="seat"></div>
            <div class="wheel-front"></div>
            <div class="fender"></div>
            <div class="wheel-back"></div>
            <div class="hitch"></div>
          </div>
        </div>
      </div>
      <div class="rope"></div>
      <div class="tractor-container">
        <div class="tractor">
          <div class="body">
            <div class="light"></div>
            <div class="grill"></div>
            <div class="exhaust"></div>
            <div class="steering"></div>
            <div class="seat"></div>
            <div class="wheel-front"></div>
            <div class="fender"></div>
            <div class="wheel-back"></div>
            <div class="hitch"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 
</div>