 <!-- <div class="d-flex align-content-center "  >
    <div class="row">
        <div class="col-md-6">
         <img  [src]="coverImage" alt="phone"> 
        </div>
    <div class="col-md-6">
  <img  [src]="slidImage" alt="phone">
    </div>
    </div>
 </div>
 -->

<!-- <div >
    <header class="pb-4">
        <img  [src]="slidImage" alt="phone">  
    </header> 

</div> -->

 <div class="justify-content-center align-items-center" >

    <div class="col-md-6 ">
<img  [src]="coverImage" alt="phone "> 
</div>
   

</div>

    


