<div class="w-75 m-auto">
    <h2 class="text-center my-5">All Users</h2>
    <hr class="my-3">
    <div class="d-flex justify-content-between">
      <a class="btn btn-primary" routerLink="create">Create User</a>
      <button (click)="filterUsers('admin')" class="btn btn-success btn-sm rounded-3">View Admins</button>
      <button (click)="filterUsers('user')" class="btn btn-success btn-sm rounded-3">View Users</button>
      <input (change)="searchData(searchInput.value)" #searchInput class="form-control me-2 w-25" type="search"
        placeholder="Search" aria-label="Search">
    </div>
    <hr class="my-3">
    <table class="w-100  table-bordered ">
      <thead class="text-center table-bordered bg-primary">
        <tr class="border-bottom ">
          <th class="p-3">#</th>
          <th class="p-3">ID</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for(user of users; track user._id){
        <tr class="m-5 border-bottom text-center">
          <td>{{$index + 1}}</td>
          <td>{{user?._id|slice:-4}}</td>
          <td><img class="mx-3 rounded-3" width="30px" [src]="userImage" [alt]="user?.name">{{user?.name}}
          </td>
          <td>{{user?.email}}</td>
          <td>{{user?.role}}</td>
          <td>@if(user?.active){yes}@else{No}</td>
          <td class="d-flex">
            <button [routerLink]="['/users',user._id]" class="button-3 btn btn-primary btn-sm my-3 rounded-2 mx-3">More
              Details</button>
            <button (click)="changeUserActive(user._id)" class="button-88 btn btn-primary btn-sm my-3 rounded-2 mx-3">change
              Active</button>
            <button (click)="deleteUser(user._id)" class="button-2 btn btn-danger btn-sm rounded-2 m-auto">Delete</button>
          </td>
        </tr>
        }
        @empty { <h1>empty</h1> }
      </tbody>
    </table>
  </div>
  
  <div class="container m-auto mt-5 w-25">
    <ul class="pagination">
      @if(pagination?.prev){<li (click)="changePage(pagination.prev)" class="page-item"><button
          class="page-link">Previous</button></li>}
      @if(pagination?.currentPage!==1)
      {<li (click)="changePage(1)" class="page-item"><button class="page-link">1</button></li>}
      <li class="page-item"><button class="page-link">{{pagination?.currentPage}}</button></li>
      @if(pagination?.currentPage!==pagination.totalPages)
      {<li (click)="changePage(pagination.totalPages!)" class="page-item"><button
          class="page-link">{{pagination.totalPages}}</button></li>}
      @if(pagination?.next){<li (click)="changePage(pagination.next)" class="page-item"><button
          class="page-link">Next</button></li>}
    </ul>
  </div>